<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontAwseome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- link CSS -->

      <link rel="stylesheet" href="../public/css/style.css">
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fas fa-code"></i> GestionUsers </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"><i class="fas fa-home"></i>  Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/departements"><i class="fas fa-house-damage"></i> All Departements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api/users"><i class="fas fa-users"></i> Users</a>
            </li>
           
          </ul>
        </div>
      </nav>

      <section id="gigs" class="container">
        <div class="modal-header mt-5  col-md-5">
          <h3 class="modal-title" id="exampleModalLabel"> <i class="fas fa-users"></i> ALL Users </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
     
      
      <table class="table table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">passowrd</th>
            <th scope="col">departement</th>
            <th scope="col">update</th>
            <th scope="col">delete</th>


          </tr>
        </thead>
        <tbody>
          <% Allusers.forEach(function(user){ %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td> <%= user.name %> </td>
            <td> <%= user.email %></td>
            <td> <%= user.passowrd %></td>
            <td> <%= user.departement_id%></td>
            <td><a href="/api/users/update/<%= user.id%>" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a></td>
            <td> <a href="/api/users/delete/<%= user.id%>" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a> </td>
          </tr>
          <% }); %>   
        </tbody>
    
      </table>
    
    
            
     
        
      </section>




      <style>

        body {
          background-color: lightblue;
        }
        
        .table{
        
          background-color: rgb(255, 248, 248);
        }
        
        .modal-header{

/* color: aliceblue; */
          background-color: aliceblue;
        }

        
        
        </style>
        
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>